*

!local/
!local/share/
!local/share/applications/
!local/share/themes/

!local/share/applications/**
!local/share/themes/**

!bash/
!config/
!scripts/
!wallpapers/
!.gitignore
!README.md
!packages.txt
!install.sh

__pycache__/
*.swp
.DS_Store
