include "cfg/input.kdl"
include "cfg/outputs.kdl"
include "cfg/layout.kdl"
include "cfg/startup.kdl"
include "cfg/window-rules.kdl"
include "cfg/binds.kdl"
include "cfg/misc.kdl"
include "cfg/environment.kdl"
