prefer-no-csd

layout {
    gaps 20
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
    	off
    }
    
    border {
        on
        width 2
        urgent-color "#9b0000"
        active-color "#bfbfbfaa"
        inactive-color "#00000000"
    }

    struts {
        left 44
        right 44
        top 44
        bottom 44
    }

}
