window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"^com\.github\.hluk\.copyq$"#
    match app-id=r#"^net\.davidotek\.pupgui2$"#
    match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
    match app-id=r#"^waypaper$"#

    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^org\.telegram\.desktop$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id="wofi"

    clip-to-geometry false
    focus-ring {
        off
    }
}

window-rule {
    match app-id=r#"^org\.pulseaudio\.pavucontrol$"#

    default-column-width { fixed 800; }
    default-window-height { fixed 500; }    
}




